{% extends 'base.html.twig' %}
{% block title %} blog{% endblock %}
{% block body %}
    <h1>posts</h1>
    {% for post in posts %}
        <p> <a href="{{ path('one_post', {'slug': post.slug}) }}">{{ post.title }}</a></p>
    {% endfor %}




{% endblock %}
