{% extends 'base.html.twig' %}
{% block title %} blog{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.body, {'attr': {
        'rows' : '45',
        'cols' : '45'
    }}) }}

    <button class="btn btn-default" type="submit">Сохранить</button>
    {{ form_end(form) }}



{% endblock %}
